body {
  margin: 0px;
  background-color: #eee;
}

h2 {
  margin-bottom: 0;
}

h4 {
  padding: 20px;
  margin-top: 0;
  background-color: lightgrey;
}

p.features-class {
  margin-top: 0;
  font-size: 18px;
}

#header {
  position: relative;
}

#header-img {
  width: 300px;
  position: relative;
  top: 20px;
  left: 60px;
}

#nav-bar {
  display: inline-block;
  position: absolute;
  /* bottom: 10px; */
  top: 30px;
  right: 100px;
  /* clear: both; */
}

.nav-item {
  /* float: left; */
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.hero-section {
  text-align: center;
  margin-top: 40px;
}

.email-field {
  padding: 5px;
  width: 250px;
  /* border-color: blue; */
  border-radius: 3px;
  margin: 10px;
}

.submit-bttn {
  width: 150px;
  height: 30px;
  background-color: #FFD700;
  font-size: 16px;
  font-weight: 900;
  border: none;
  border-radius: 2px;
  padding: 0 20px;
}

table {
  width: 900px;
}

td {
  padding: 20px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.icons {
  width: 70px;
  height: 70px;
}

#how-it-works {
  /* width: 00px; */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  width: 300px;
}

.submit-bttn.select {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.footer {
  margin: auto;
  width: 950px;
  background-color: lightgrey;
  padding: 20px;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
}

.footer-item {
  /* padding-left: 10px; */
  padding-right: 10px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.footer-p {
  margin-top: 5px;
  margin-bottom: 0px;
  color: rgb(54, 69, 79);
  display: flex;
  justify-content: flex-end;
}
